@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --background: rgb(138, 177, 219);
}

body {
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

img#title {
  width: 400px;
}

div#blank {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

/*HEADER*/

div.header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

div.header button, input {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

div.header button:hover, input:hover {
  background-color: white;
  color: var(--background);
}

div.header #states li:hover {
  margin-left: -15px;
}

div.header button:focus, input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.5;
}

div.header h1, i {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px;
}

div.header i {
  position: absolute;
  margin: 20px 10px;
  opacity: 0.5;
}

div.header input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-left: 10px;
  padding-left: 40px;
}

div.header input[type=text]:focus {
  width: 210px;
}

div.header #states {
  display: none;
  margin-top: -12px;
  margin-left: 245px;
  width: 170px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
}

div.header #states li {
  cursor: pointer;
  color: var(--background);
  padding: 10px 20px;
  margin-left: -26px;
  list-style-type: none;
  font-size: 13px;
  transition: 0.3s;
}
